.contact-container {
  max-width: 600px;
  margin: auto;
  padding: 40px 20px;
  font-family: "Raleway", sans-serif;
  color: #1e1e1e;
}

.contact-form {
  background: #e0fbfc;
  padding: 20px;
  border-radius: 10px;
}

.input-container {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #3d5a80;
}
.form-control {
  padding-left: 35px;
  border-radius: 5px;
}

.submit-btn {
  width: 100%;
  font-weight: bold;
}
