.bg-footer {
  background-color: #98c1d9;
}

footer {
  h6 {
    font-family: "Raleway", sans-serif;
  }
  ul {
    li {
      font-family: "Roboto", sans-serif;
      margin-top: 5px;
      font-size: 14px;
      :hover {
        color: black;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    .icons-footer a {
      margin-right: 10px; /* Ajusta el espacio entre los iconos */
    }
  }
}

.copyright-text {
  font-size: 17px;
}

.bg-footer {
  background: linear-gradient(
    to bottom,
    var(--color-terciario),
    var(--color-fondo)
  );
}
